<%= form_for(@t_cmpdetail) do |f| %>
  <% if @t_cmpdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_cmpdetail.errors.count, "error") %> prohibited this t_cmpdetail from being saved:</h2>

      <ul>
      <% @t_cmpdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   	<b>Complaint Date:</b><%= f.date_select :cmtdate %>
  </div>
  <div class="field">
  	<b>Complaint Number:</b><%= f.number_field:cmtnmb %>
  </div>
  <div class="field">
	<b>Complaint Status:</b><%= f.text_field :cmtstatus %>  
  </div>
  <hr></hr>
<h3>Complaint Details</h3>  
<div class="field">
    <%= f.label :Anonymous %><br/>
    <%= f.check_box :cmtanonymous %>I choose to remain Anonymous. I do not wish to provide my name in connection with this decision to remain anonymous will prevent the SBA-OIG from contacting me for additional information and may prevent a comprehensive assessment of my complaint.
  </div>
  
<table border ="1">
  <thead>
    <tr>      
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Street 1</th>
      <th>Street 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Email</th>
 </tr>
  </thead>
  <tbody>
      <tr>        
        <td><%= f.text_field :cmtfirstnm %></td>
        <td><%= f.text_field :cmtmiddlenm %></td>
        <td><%= f.text_field :cmtlastnm %></td>
        <td><%= f.text_field :cmtst1 %></td>
        <td><%= f.text_field :cmtst2 %></td>
        <td><%= f.text_field :cmtcity %></td>
        <td><%= f.text_field :cmtst %></td>
        <td><%= f.number_field :cmtzip %></td>
        <td><%= f.text_field :cmtcountry %></td>
        <td><%= f.number_field :cmtphone %></td>
	  <td><%= f.text_field :cmtemail%></td>
     </div>
</table>

<br>
 <hr></hr>
<h3>Wrongdoer Details</h3>
<table border ="1">
  <thead>
    <tr>      
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
	<th>Title</th>
      <th>Street 1</th>
      <th>Street 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
      <tr>        
        <td><%= f.text_field :wgrfirstnm %></td>
        <td><%= f.text_field :wgrmiddlenm %></td>
        <td><%= f.text_field :wgrlastnm %></td>
        <td><%= f.text_field :wgrtitle  %></td>
        <td><%= f.text_field :wgrst1 %></td>
        <td><%= f.text_field :wgrst2 %></td>
        <td><%= f.text_field :wgrcity %></td>
        <td><%= f.text_field :wgrst %></td>
        <td><%= f.number_field :wgrzip %></td>
        <td><%= f.text_field :wgrcountry %></td>        
     </div>
</table>
<br>
 <hr></hr>
<h3>Wrongdoer Business Details</h3>
<table border ="1">
  <thead>
    <tr>      
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
	<th>Company DUNS</th>
      <th>Street 1</th>
      <th>Street 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
      <tr>        
        <td><%= f.text_field :wgrcomfirstnm %></td>
        <td><%= f.text_field :wgrcommiddlenm %></td>
        <td><%= f.text_field :wgrcomlastnm %></td>
        <td><%= f.text_field :wgrcomduns %></td>
        <td><%= f.text_field :wgrcomst1 %></td>
        <td><%= f.text_field :wgrcomst2 %></td>
        <td><%= f.text_field :wgrcomcity %></td>
        <td><%= f.text_field :wgrcomst %></td>
        <td><%= f.number_field :wgrcomzip %></td>
        <td><%= f.text_field :wgrcomcountry %></td>        
     </div>
</table>
<br>
 <hr></hr>
 <h3>SBA Program	</h3>
<table border ="1">
  <thead>
    <tr>      
      <th>SBA Loan/Program Type</th>
      <th>Name</th>
      <th>Loan Number</th>	
    </tr>
  </thead>
  <tbody>
      <tr>        
        <td><%= f.text_field :prog %></td>
        <td><%= f.text_field :progloannm %></td>
        <td><%= f.number_field :progloannmb %></td>        
     </div>
</table>
<br>
 <hr></hr>
 <h3>Complaint Narrative</h3> 
  <div class="field">    
    <%= f.text_area :cmtnarrative %>
  </div>
<br>
 <hr></hr>
 <div><%= f.check_box :cmtrptother %>Have you reported this matter to any other Organizations/Agencies?</div>
<table border ="1">
  <thead>
    <tr>
      <th>Agency/Org Name</th>
      <th>When</th>
      <th>Status</th>		
    </tr>
  </thead>
  <tbody>
      <tr>           
        <td><%= f.text_field :cmtrptorg %></td>
        <td><%= f.date_select :cmtrptdt %></td>  
	   <td><%= f.text_field :cmtrptstatus %></td>     
     </div>
</table>
<br>
 <hr></hr>
<div class="field">
<label for="file">File to Upload</label> <%= file_field_tag "file" %>

</div>
  <div class="field">    
    <%= f.check_box :cmtcertify %>I certify that all the statements made in this complaint area are true, complete, and 
understand that a false statement or concealment of a material fact is a criminal offense (18 U.S.C. 1001; Inspector General Act of 1978, As Amended, 7)</div>
  
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
